body{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.Border{
    border: solid 2px black;
    margin: 5px;
    border-radius: 4px;
}
nav{
    display: flex;
    flex-direction: column;
}
footer{
    padding: 15px;
}
